/* 重置所有元素的盒模型属性，确保一致的尺寸计算 */
* {
  box-sizing: border-box;
}

/* 重置body元素的默认样式，移除内外边距 */
body {
  margin: 0;
  padding: 0;
  /* 设置文本颜色和字体大小，提高可读性 */
  color: #333;
  font-size: 14px;
}

/* 移除所有链接的文本装饰，以实现自定义样式 */
a {
  text-decoration: none;
}

/* 定义卡片容器的样式，包括背景色、圆角、内边距和阴影效果 */
.card {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 定义一个名为.line1的类，用于控制文本的显示方式 */
.line1{
   /* 隐藏超出容器宽度的内容 */
   overflow: hidden;
   /* 当文本溢出时显示省略号 */
   text-overflow: ellipsis;
   /* 防止文本换行，使其在一行内显示 */
   white-space: nowrap;
}

/* 定义一个名为.line2的类，用于控制文本的显示方式 */
.line2 {
  /* 允许单词在边界内换行 */
  word-break: break-all; 
  /* 当文本溢出时显示省略号 */
  text-overflow: ellipsis; 
  /* 使用弹性盒模型布局 */
  display: -webkit-box; 
  /* 设置弹性盒模型的子元素排列方向为垂直方向 */
  -webkit-box-orient: vertical; 
  /* 设置文本显示的行数为2行，超出部分省略 */
  -webkit-line-clamp: 2; 
  /* 隐藏超出部分的文本 */
  overflow: hidden; 
}

/* 定义一个名为.line4的类，用于控制文本的显示方式 */
.line4 {
  /* 允许单词在边界内换行 */
  word-break: break-all; 
  /* 当文本溢出时显示省略号 */
  text-overflow: ellipsis; 
  /* 使用弹性盒模型布局 */
  display: -webkit-box; 
  /* 设置弹性盒模型的子元素排列方向为垂直方向 */
  -webkit-box-orient: vertical; 
  /* 设置文本显示的行数为2行，超出部分省略 */
  -webkit-line-clamp: 4; 
  /* 隐藏超出部分的文本 */
  overflow: hidden; 
}

.front_card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}