<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CollectMapper">

    <select id="selectAll" resultType="com.example.entity.Collect">
        select collect.*, student.name as studentName from `collect`
        left join student on collect.student_id = student.id
        <where>
            <if test="studentName != null"> and student.name like concat('%', #{studentName}, '%')</if>
            <if test="studentId != null"> and collect.student_id = #{studentId}</if>
            <if test="dishId != null"> and collect.dish_id = #{dishId}</if>
        </where>
    </select>


    <!-- insert into collect (...) values ('collect', 'collect', ...) -->
    <insert id="insert" parameterType="com.example.entity.Collect" useGeneratedKeys="true">
        insert into `collect`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="dishId != null">dish_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="dishId != null">#{dishId},</if>
        </trim>
    </insert>



</mapper>