<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DishMapper">

    <select id="selectAll" resultType="com.example.entity.Dish">
        select dish.*, category.title as categoryName from `dish`
        left join category on dish.category_id = category.id
        <where>
            <if test="name != null"> and dish.name like concat('%', #{name}, '%')</if>
            <if test="categoryId != null"> and dish.category_id = #{categoryId}</if>
        </where>
    </select>


    <insert id="insert" parameterType="com.example.entity.Dish" useGeneratedKeys="true">
        insert into `dish`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="img != null">img,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="content != null">content,</if>
            <if test="price != null">price,</if>
            <if test="num != null">num,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="img != null">#{img},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="content != null">#{content},</if>
            <if test="price != null">#{price},</if>
            <if test="num != null">#{num},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Dish">
        update `dish`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>