<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NoticeMapper">

<!--    SELECT * FROM notice WHERE title LIKE '%{title}%' or content LIKE '%{content}%' -->
   <select id="selectAll" resultType="com.example.entity.Notice">
        select * from `notice`
        <where>
            <if test="title != null"> and title like concat('%', #{title}, '%')</if>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
        </where>
    </select>

    <!-- insert into notice (id, title, ...) values ('notice', 'notice', ...) -->
    <insert id="insert" parameterType="com.example.entity.Notice" useGeneratedKeys="true">
        insert into `notice`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>


    <!--    UPDATE notice SET title = 'new_title', content = 'new_content' WHERE id = #{id} -->
    <update id="updateById" parameterType="com.example.entity.Notice">
        update `notice`
        <set>
            <if test="title!= null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="time != null">time = #{time},</if>
        </set>
        where id = #{id}
    </update>
</mapper>