<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">

<!--    SELECT * FROM student WHERE name LIKE '%{name}%' OR username LIKE '%{username}%'-->
   <select id="selectAll" resultType="com.example.entity.Student">
        select * from `student`
        <where>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
        </where>
    </select>

    <!-- insert into student (username, password, ...) values ('student', 'student', ...) -->
    <insert id="insert" parameterType="com.example.entity.Student" useGeneratedKeys="true">
        insert into `student`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="account!= null">account,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="account != null">#{account},</if>
        </trim>
    </insert>


    <!--    UPDATE student SET username = 'new_username', password = 'new_password', name = 'new_name', phone = 'new_phone', email = 'new_email', avatar = 'new_avatar', role = 'new_role' WHERE id = #{id} -->
    <update id="updateById" parameterType="com.example.entity.Student">
        update `student`
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="role != null">role = #{role},</if>
            <if test="account != null">account = #{account},</if>
        </set>
        where id = #{id}
    </update>
</mapper>